@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum a ligula nec vulputate. Fusce accumsan luctus ligula, quis mollis nulla convallis quis. Maecenas suscipit, massa sed aliquam ullamcorper, enim est sodales urna, id luctus neque erat sit amet eros. Nam vitae laoreet odio. Nullam pretium massa a mattis congue. Nullam id vestibulum quam, eu sollicitudin lectus. Sed sapien neque, luctus sit amet arcu a, porta ultrices dolor. Pellentesque varius tincidunt egestas. Morbi vel interdum orci. Suspendisse eu erat et turpis sollicitudin dictum.

            Etiam et lorem fermentum, euismod eros nec, malesuada arcu. Aliquam vestibulum pulvinar faucibus. Mauris iaculis quam vel massa dignissim sodales. Proin fermentum, tellus non tempus gravida, quam augue interdum neque, nec efficitur nunc nisl vel sem. Praesent malesuada tincidunt iaculis. Sed ac sapien eleifend, molestie erat sit amet, laoreet sapien. Nunc ullamcorper mi magna, non auctor ipsum dignissim vitae.

            Phasellus ac blandit velit. Praesent id mollis sapien. Nam sit amet luctus orci. Cras iaculis suscipit posuere. Nullam porttitor maximus nulla vel ultrices. In ipsum odio, dignissim commodo congue ut, placerat quis turpis. Suspendisse potenti. Praesent sit amet tristique elit, ac viverra massa. Donec placerat mauris quis ipsum aliquet venenatis. Vestibulum odio lectus, aliquam eget tortor nec, pretium molestie dui. Aliquam mattis, lectus sit amet luctus ullamcorper, augue ante congue metus, id gravida augue odio nec nisi. Quisque sagittis, purus non tempus hendrerit, nulla lectus lobortis nisi, vel condimentum neque lacus id felis.

            Nullam lacus lacus, congue ac rutrum in, semper eu nunc. Duis nulla nisi, maximus eget neque nec, sodales facilisis eros. Suspendisse bibendum rutrum felis et aliquet. Sed aliquam egestas diam et viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam nibh leo, blandit nec nisi vel, condimentum placerat mauris. Sed eu sodales dui. Cras turpis diam, aliquet eu pharetra id, posuere non enim. Mauris orci leo, molestie dictum felis quis, sagittis ultrices mi.

            Suspendisse faucibus sem vel suscipit porta. Etiam eu sem laoreet, vehicula orci ac, ornare ipsum. In vel libero et sem tincidunt lacinia eu quis ligula. Ut sit amet libero rhoncus, condimentum tellus ac, porta quam. Maecenas condimentum urna ut nunc tempor ullamcorper. Mauris lobortis, nulla et interdum faucibus, massa sapien cursus ex, vel elementum diam nulla at erat. Maecenas gravida finibus nisi sed convallis. Vivamus sit amet accumsan dui. Curabitur at dapibus risus, eget viverra justo.
        </p>
    </div>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum a ligula nec vulputate. Fusce accumsan luctus ligula, quis mollis nulla convallis quis. Maecenas suscipit, massa sed aliquam ullamcorper, enim est sodales urna, id luctus neque erat sit amet eros. Nam vitae laoreet odio. Nullam pretium massa a mattis congue. Nullam id vestibulum quam, eu sollicitudin lectus. Sed sapien neque, luctus sit amet arcu a, porta ultrices dolor. Pellentesque varius tincidunt egestas. Morbi vel interdum orci. Suspendisse eu erat et turpis sollicitudin dictum.

            Etiam et lorem fermentum, euismod eros nec, malesuada arcu. Aliquam vestibulum pulvinar faucibus. Mauris iaculis quam vel massa dignissim sodales. Proin fermentum, tellus non tempus gravida, quam augue interdum neque, nec efficitur nunc nisl vel sem. Praesent malesuada tincidunt iaculis. Sed ac sapien eleifend, molestie erat sit amet, laoreet sapien. Nunc ullamcorper mi magna, non auctor ipsum dignissim vitae.

            Phasellus ac blandit velit. Praesent id mollis sapien. Nam sit amet luctus orci. Cras iaculis suscipit posuere. Nullam porttitor maximus nulla vel ultrices. In ipsum odio, dignissim commodo congue ut, placerat quis turpis. Suspendisse potenti. Praesent sit amet tristique elit, ac viverra massa. Donec placerat mauris quis ipsum aliquet venenatis. Vestibulum odio lectus, aliquam eget tortor nec, pretium molestie dui. Aliquam mattis, lectus sit amet luctus ullamcorper, augue ante congue metus, id gravida augue odio nec nisi. Quisque sagittis, purus non tempus hendrerit, nulla lectus lobortis nisi, vel condimentum neque lacus id felis.

            Nullam lacus lacus, congue ac rutrum in, semper eu nunc. Duis nulla nisi, maximus eget neque nec, sodales facilisis eros. Suspendisse bibendum rutrum felis et aliquet. Sed aliquam egestas diam et viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam nibh leo, blandit nec nisi vel, condimentum placerat mauris. Sed eu sodales dui. Cras turpis diam, aliquet eu pharetra id, posuere non enim. Mauris orci leo, molestie dictum felis quis, sagittis ultrices mi.

            Suspendisse faucibus sem vel suscipit porta. Etiam eu sem laoreet, vehicula orci ac, ornare ipsum. In vel libero et sem tincidunt lacinia eu quis ligula. Ut sit amet libero rhoncus, condimentum tellus ac, porta quam. Maecenas condimentum urna ut nunc tempor ullamcorper. Mauris lobortis, nulla et interdum faucibus, massa sapien cursus ex, vel elementum diam nulla at erat. Maecenas gravida finibus nisi sed convallis. Vivamus sit amet accumsan dui. Curabitur at dapibus risus, eget viverra justo.
        </p>
    </div>